body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.home {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.header {
  text-align: center;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header .header-image {
  width: 100%;
  border-radius: 8px;
  height: 275px;
}

.header h1 {
  margin: 10px 0 0;
  font-size: 2em;
  color: #333;
  padding: 10px;
}

.header h2 {
  margin: 10px 0 0;
  font-size: 1.2em;
  color: #666;
}

.home-main {
  padding: 0 20px;
}

.home-main h2 {
  font-size: 1.5em;
  color: #333;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  color: #007bff;
}

li a:hover {
  text-decoration: underline;
}
